<!DOCTYPE html>
<html>
  <head>
    <title>Simple Map</title>
    <meta name="viewport" content="initial-scale=1.0">
    <meta charset="utf-8">

  </head>
  <body>
    <h1>ついーとするよ！</h1>
    <form action="/tweet" method="post">
       <input type="text" name="yaruzo">
        <input type="submit" value="tweet">
    </form>
    <p><%= @sentence %></p>
  </body>
</html>
